* {
    margin: 0;
    padding: 0;
}

body>* {
    width: 85vw;
    margin: auto;
}

a {
    cursor: pointer;
    color: #3354b5;
}

#search {
    width: calc(100% - 0.6em - 4px);
    padding: 0.3em;
}

#activities {
    display: flex;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
}

#activities>* {
    padding: 0.5em;
}

table {
    width: 70vw;
    margin-top: 1em;
    margin-bottom: 1em;
    border: solid 1px grey;
    border-radius: 5px;
    border-collapse: collapse;
}

thead tr {
    height: 4em;
}

thead th:nth-child(3) {
    width: 4em;
}

thead th:nth-child(4) {
    width: 9em;
}

thead th:nth-child(5) {
    width: 2em;
}

thead th:nth-child(7) {
    width: 2em;
}

tbody tr {
    border-top: solid 1px grey;
    min-height: 5em;
}

tbody td {
    padding: 1em;
    min-height: 7ch;
}

#pagination-control {
    display: flex;
    justify-content: space-between;
}

#page-count-control {
    display: flex
}

#page-count-control select {
    margin-left: 0.5em;
}

#page-count-control p {
    margin: 0;
}

#pagination-page-select * {
    margin: 0.2em;
    font-size: 0.9em;
}

#pagination-page-select {
    display: flex;
}

#filters>div:first-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1em;
}

#filters p {
    margin: 0
}

#filters input {
    width: calc(100% - 0.6em - 4px);
    padding: 0.3em;
    margin-bottom: 0.5em;
}

#graph-container>div {
    position: relative;
    width: min-content;
    margin: auto;
    overflow: hidden;
}

svg {
    width: auto;
    height: 90vh;
    font: 10px sans-serif;
    margin: auto;
    border: solid 1px grey;
    border-radius: 5px;
    max-width: 85vw;
}

svg text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

span.zoom {
    position: absolute;
    font-size: 2.3em;
    left: 1.2em;
    border: solid 2px gray;
    border-radius: 5px;
    background: white;
    cursor: pointer;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
    display: none;

}

#zoom-in {
    top: 1.2em;
}

#zoom-out {
    top: 2.6em
}

#svg-container {
    line-height: 0;
}

#side-panel {
    width: 30em;
    left: 100%;
    height: calc(100% - 2px - 1em);
    background-color: rgba(226, 226, 226, 0.932);
    border: solid 1px grey;
    border-radius: 5px;
    position: absolute;
    top: 0;
    padding: 0.5em;

    transition: left 0.3s;
    pointer-events: none;
}

#side-panel.open {
    left: calc(100% - 30em - 2px - 1em);
}

#close-button {
    display: flex;
    justify-content: flex-end;
    user-select: none;
    cursor: pointer;
    pointer-events: all;
}

#side-panel-data {
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 0.5em;
}

#side-panel h2 {
    margin-bottom: 1em;
}

#side-panel-data span,
#side-panel h2 {
    pointer-events: all;
}

.side-panel-gap {
    min-height: 0.3em;
    margin-bottom: 0.3em;
    grid-column: 1 / 3;
    border-bottom: 1px solid black
}

#side-panel-activity-uuid,
#side-panel-product-uuid {
    word-break: break-all;
}